services:

  rag:
    image: hossary353/assignment-1.0:latest
    ports:
      - 8081:8081
    depends_on:
      - db

  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: password

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
